.wrapper {
    display: grid;
    background-color: #D4A76A;
    font-family: sans-serif;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1px 300px 300px;
}

.title {
    color: #553100;
    background-color: #FFDBAA;
    grid-column: 1 / 2;
    grid-template-columns: 1fr;
    padding-left: 40px;
    }

.nav {
    background-color: #FFDBAA;
    grid-column: 2 / 3;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    justify-items: space-around;
}

.small-button {
    background-color: #805215;
    margin: 50px;
    color: white;
    font-weight: bold;
    font-size: large;
    padding: 10px;
    border: none;
    width: 55%;
}

.large-button {
    background-color: #805215;
    height: min-content;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: large;
    padding: 10px;
    border: 1px solid black;
    width: 95%;
}

.row-border {
    border-top: 1px solid black;
    grid-column: 1 / 3;
    grid-row: 2;
}

.main {
    grid-row: 3;
    grid-column: 1 / 3;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.text-title {
    color: black;
    font-family: arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.text-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1.5fr 1fr;
    background-color: white;
    height: 170px;
    width: 300px;
    box-shadow: 1px 1px 10px 1px #000000;
    justify-items: center;
}

.main-text {
    grid-row: 2;
    align-self: left;
    max-width: 95%;
}

.footer {
    grid-row: 4;
    grid-column: 1 / 3;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: top;
    display: grid;
    grid-template-columns: 1fr;
    min-height: fit-content;
}

.footer-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: white;
    height: min-content;
    width: 90%;
    box-shadow: 1px 1px 10px 1px #000000;
    justify-items: center;
}

.footer-text {
    grid-row: 2;
    margin: 10px;
    align-self: left;
    max-width: 95%;
}

/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
